.card {
  display: grid;
  grid-template-areas:
    "title title . img img"
    "title title . img img"
    "text text text . . ";
  justify-content: space-between;
}
.card ion-card-title {
  align-content: center;
  margin-left: 20vw;
  margin-right: 20vw;
}
.text {
  margin: 10px;
}
.menu-button {
  position: fixed;
  --border-radius: 50%;
  --padding-start: 8px;
  --padding-end: 8px;
  top: 87vh;
  right: 20px;
}
