<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)="title()" slot="start"> Planner </ion-title>
    <ion-buttons slot="secondary">
      <ion-button slot="end" (click)="deletePlan()"
        ><ion-icon name="trash-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-reorder-group
    [disabled]="false"
    (ionItemReorder)="handleReorder($any($event))"
  >
    <ion-card *ngFor="let plan of plans">
      <ion-reorder class="reorder"></ion-reorder>
      <div class="card">
        <ion-card-title class="title"
          >{{plan.header}} id: {{plan.id}}</ion-card-title
        >
        <ion-img class="img" src="{{plan.photo}}"></ion-img>
      </div>
      <ion-card-subtitle class="text">{{plan.subheader}}</ion-card-subtitle>
    </ion-card>
  </ion-reorder-group>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button size="small" (click)="addPlan()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ng-template></ng-template>
</ion-content>
