<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)="title()" slot="start"> Planner </ion-title>
    <ion-buttons slot="secondary">
      <ion-button slot="end" (click)="deletePlan()"
        ><ion-icon name="trash-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-reorder-group
    [disabled]="false"
    (ionItemReorder)="handleReorder($any($event))"
  >
    <ion-card *ngFor="let plan of plans">
      <ion-reorder class="reorder"></ion-reorder>
      <div class="card">
        <ion-card-title class="title"
          >{{plan.header}} id: {{plan.id}}</ion-card-title
        >
        <ion-img class="img" src="{{plan.photo}}"></ion-img>
      </div>
      <ion-card-subtitle class="text">{{plan.subheader}}</ion-card-subtitle>
    </ion-card>
  </ion-reorder-group>

  <form #f="ngForm">
    <ion-card *ngIf="adding">
      <div class="card">
        <ion-card-title class="title"
          ><ion-input
            label="Dodaj Nagłówek"
            labelPlacement="floating"
            fill="solid"
            type="text"
            name="header"
            ngModel
        /></ion-card-title>
        <ion-img class="img">Dodaj zdjęcie</ion-img>
      </div>
      <ion-card-subtitle class="text"
        ><ion-input
          label="Dodaj Opis"
          labelPlacement="floating"
          fill="solid"
          type="text"
          name="subheader"
          ngModel
      /></ion-card-subtitle>
    </ion-card>
  </form>

  <ng-container *ngIf="!adding; then add; else send"></ng-container>
  <ng-template #add>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button *ngIf="!adding" size="small" (click)="addPlan()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-template>
  <ng-template #send>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button
        *ngIf="adding"
        size="small"
        type="submit"
        (click)="onSubmit(f.value)"
      >
        <ion-icon name="send-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-template>

  <ng-template></ng-template>
</ion-content>
